*::-webkit-scrollbar{
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body{
	margin: 0px;
	padding: 0px;
	font: 13px/1.5 "Titillium Web", "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-family: 'Titillium Web', sans-serif;
	background-image: radial-gradient(#303030, #404040, #050505);
}
a{
	text-decoration: none;
}
h1,h2,h3,p{
	cursor: default;
	width: 100%;
	margin-bottom: 4px;
	margin-top: 4px;
	transition: font-weight 0.2s;
}
div#header{
	display: flex;
	background-image: url("../img/profile.png"); 
	background-color: #cccccc;
	height: 30vh;
	min-height:  150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 73vh;
}
div#bigname{
	width: 100vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
h1#surname,#name{
	height: 8vh;
	font-size: 10vh;
	color: white;
	text-shadow: 2px 2px 5px black;
}
h2#prof{
	font-size: 4vh;
	color: #afafaf;
}
.content-box{
	display: flex;
	overflow: scroll;
	height: 0vh;
}
.content{
	display: flex;
	flex-flow: column;
	width: 50%;
	
}
.box{
	margin: 2% 2%;
	padding: 2%;
	width: 92%;
	box-shadow: 1px 1px 3px black;
	border-radius: 2px;
	background-color: white;
/*	transition-timing-function: ease-in-out;*/
	transition: margin 0.2s, padding 0.2s, width 0.2s,border-radius 0.2s,box-shadow 0.2s;

}
.skills-box{
	display: flex;
	flex-wrap: wrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.lang-box{
	display: flex;
	flex-wrap: wrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.language{
	width: 50%;
	height: 50%;
}
.skill{
	width: 50%;
	height: 50%;
}
div.levelbar{
	background-color: lightgray;
	width: 90%;
	height: 1.5vh;
	max-height: 15px;
	border-radius: 5px;
}
div.level{
	height: 1.5vh;
	max-height: 15px;
	width: 0px;
	background-color: #5780CD;
	position: relative;
	border-radius: 5px;
}
div.extrabar{
	height: 1.5vh;
	max-height: 15px;
	width: 0px;
	background-color: #2AC075;
	position: relative;
	border-radius: 5px;
}
p#p-info{
	height: 0px;
	width: 90%;
	max-height: ;
	overflow: hidden;
	transition: height 0.4s;
}

/*handling specific responsive behaviors*/
@media screen and (min-width: 800px) {
	
	.box:hover{
		margin: 0px 0px 4% 0px;
		width: 94%;
		padding: 2% 2% 2% 4%;
		border-radius: 5px;
		box-shadow: 0px 20px 20px black;
	}
	
	div.skill:hover p#p-info{
		height: 60px;
		overflow: hidden;
	}
	div.language:hover p#p-info{
		height: 60px;
		overflow: hidden;
	}
}
@media screen and (max-width: 800px) {
	.content-box{
		flex-flow: column;
		padding-bottom: 30vh;
	}
	.content{
		flex-flow: column;
		width: 100%;

	}
	.box{
		margin: 2% 2% 0% 2%;
		border-radius: 5px;
	}
	.box:hover{
		margin: 12% 0%;
		width: 94%;
		padding: 2% 4% 2% 2%;
		border-radius: 2px;
		box-shadow: 0px 40px 40px black;
	}
	.level-box:hover{
		margin: 0%;
	}
	.box:hover p{
		font-weight: 700;
	}
	.level-box:hover  #p-info{
		height: 60px;
		overflow: hidden;
	}
}
