@keyframes fill {
    from {

        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.level-wrapp {
    position: relative;
    width: 100%;
    height: 2rem;
    background-color: var(--light-color3);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: 1rem;
    outline: solid 4px var(--light-color3);
}

.level-1 {
    position: absolute;
    inset: 0;
    background-color: var(--light-color2);
    transform: scaleX(0);
    transform-origin: left;
    animation: fill 1s ease-in forwards;
}

.level-2 {
    position: absolute;
    inset: 0;
    background-color: var(--light-color);
    transform: scaleX(0);
    transform-origin: left;
    animation: fill 1.5s 1s ease-out forwards;
}