@keyframes fill {
    from {

        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.level-wrapp {
    position: relative;
    width: 100%;
    height: 2rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: 1rem;
    outline: solid 2px var(--light-color);
    transition: background-color 500ms;
}

.level-1 {
    position: absolute;
    inset: 0;
    background-color: var(--light-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: background-color 500ms;
}

.level-2 {
    position: absolute;
    inset: 0;
    background-color: var(--accent-color2);
    transform: scaleX(0);
    transform-origin: left;
    transition: background-color 500ms;
}

.level-1.anim {
    animation: fill 1s ease forwards;
}

.level-2.anim {
    animation: fill 1s 1s ease forwards;

}