@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.app {
    opacity: 0;
    height: 100vh;
    padding: 1rem;
    overflow: auto;
    animation: fadeIn 500ms forwards;
    font-size: 15pt;
}

.container {
    position: relative;
    max-width: 1080px;
    margin: auto;
    padding: 2rem;
    display: flex;
}


.profile-pic {
    display: inline;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: var(--border-radius-pill);
    flex: 1 1 300px;
}

.profile-pic img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.about-text {
    flex: 1 1 50%;
    text-align: justify;
}

.project-text {
    flex: 1 1 calc(100% - 500px - 4rem);
    min-width: 300px;
    text-align: justify;
}

video {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 500px;
    margin: auto;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line:last-child {
    margin-bottom: 0rem;
}

.line:first-child {
    margin-top: 0rem;
}

@media (max-width: 991px) {
    .app{
        font-size: 13pt;
    }
}

@media (max-width: 556px) {
    .app{
        font-size: 11pt;
    }
}