@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --box-shadow-light: 0 0 .5rem #00000022;
  --box-shadow-heavy: 0 0 1rem #00000055;
  --border-radius-rounded: 1em;
  --border-radius-pill: 100vw;
  --border-radius: .2em;
  --bounce: cubic-bezier(0.5, 2.2, 0.6, 0.5);
}

:root.dark {
  --white: #000000;
  --black: #ffffff;
  --off-black: #e8f3ff;
  --off-white: #17191a;
  --light-color: #145DA0;
  --light-color2: #144064;
  --light-color3: #050A30;
  --dark-color: #D4F1F4;
  --dark-color2: #75E6DA;
  --dark-color3: #189AB4;
  --danger-color: #dd4d4d;
  --danger-color2: #be3535;
}

:root.light {
  --white: #ffffff;
  --black: #000000;
  --off-white: #e8f3ff;
  --off-black: #17191a;
  --dark-color: #050A30;
  --dark-color2: #144064;
  --dark-color3: #145DA0;
  --light-color: #D4F1F4;
  --light-color2: #75E6DA;
  --light-color3: #189AB4;
  --danger-color: #dd4d4d;
  --danger-color2: #be3535;
}


::-webkit-scrollbar {
  width: .8em;
  height: .8em;
}

::-webkit-scrollbar-track {
  background: var(--off-white);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-color2);
  border-radius: 1em;
  border: var(--off-white) solid 2px;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-color);
}

@supports(scrollbar-width: none) {
  * {
    scrollbar-color: var(--light-color2) var(--dark-color2);
    scrollbar-width: thin;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

@media (prefers-reduced-motion: reduce) {
  * {
    opacity: 1 !important;
  }

  *,
  ::after,
  ::before {
    animation: none !important;
    transition: none !important;
  }

}

a {
  text-decoration: none;
  color: var(--dark-color2);
}

p, h1, h2, h3, h4, h5, h6, a {
  font-weight: 500;
  position: relative;
}

p {

  text-align: justify;
}

a:focus,
a:hover {
  color: var(--dark-color3);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--off-white);
  color: var(--dark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}